button {
    text-align:center;
    height: 35px;
    width: 200px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 20px;
    background-color: #14213D;
    color: #E5E5E5;
    border-color: #14213D;
    border-radius: 15px;

}

select {

}

button:hover {
    background-color: #9381FF;
    color: #000;
    border-color: #9381FF;
}

input {
    height: 30px;
    width: 300px;
    font-family: 'Comic Sans MS';
    border-radius: 15px;
}

body {

    background-color: #E5E5E5;
    text-align: center;
}

label {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    font-weight: bold;
}

select {
    font-family: 'Comic Sans MS';
    font-size: 20px;
}

h3 {
    font-family: 'Comic Sans MS';
    font-size: 25px;
}

h1 {

    font-family: 'Comic Sans MS';
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

td {

    background-color: #63768D;
    border-radius: 10px;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

th {

    background-color: #14213D;
    border-radius: 10px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.classBtn {
    background-color: #63768D;
    border-color: #fff;
    border-radius: 10px;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 60px;
}
